{% extends 'base.html' %}

{% block content %}
<h5></h5>
<p></p>

<table>
    <tr>
        <th>Judul</th>
        <th>Mata Kuliah</th>
        <th>Tanggal</th>
        <th>Isi</th>
        <th>Aksi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
   
    {% for c_note in class_notes %}
        <tr>
            <td>{{c_note.title}}</td>
            <td>{{c_note.subject}}</td>
            <td>{{c_note.date}}</td>
            <td>{{c_note.content}}</td>
            <td>
                <a href="{% url 'class_notes:modify_note' note.pk %}">
                    <button>
                        Ubah
                    </button>
                </a>
            </td>
        
        </tr>
    {% endfor %}
    

</table>

<br>
<a href="{% url 'class_notes:create_note' %}">
    <button>
        Catatan Baru
    </button>
</a>

{% endblock content %}
